.open {
  margin-right: 10px;
  display: inline-block;
  max-width: 70px;
}
a {
  display: inline-block;
  max-width: 70px;
}

table, th, td {
  border: 1px solid var(--shadow-color);
}

.actions {

}
